<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') -%>
<body>
    <%- include('includes/header') -%>

    <main>
       <h2>Dashboard</h2>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis cupiditate, deserunt quo corporis aperiam optio officia illo ea inventore quas fugit? Consectetur corporis quos sunt impedit, aperiam fuga voluptatibus nostrum?</p>
    </main>

    <%- include('includes/footer') -%>
</body>
</html>