<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2><a href="/">Kaon Aron Ma Vlogger App</a></h2>
        <nav>
            <a href="/login">Log In</a>
        </nav>
    </header>

    <main>
        <form action="/register" method="POST">
            <% errors.forEach(error => { %> 
                <p class="notice"><%= error %> </p>
            <% }) %>
        <fieldset>
            <legend>Create an Account</legend>
                <label for="username"><small>Username</small></label>
                <input type="text" name="username" id="username" required>
                <label for="password"><small>Password</small></label>
                <input type="password" name="password" id="password" required>
                <br><button type="submit">Register</button>
        </fieldset>
        </form>
    </main>
    <footer>
        <small>&copy; 2025 Kaon Aron Ma Vlogger App</small>
    </footer>
</body>
</html>