<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') -%>
  <body>
    <%- include('includes/header') -%>

    <main>
      <h3>Login Page</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quam
        ducimus aperiam nisi, nemo eius tempora animi ipsum mollitia sed placeat
        perferendis, quia soluta id. Quasi sint facere praesentium expedita.
      </p>
    </main>
    <%- include('includes/footer') -%>
  </body>
</html>
